*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec-first{
    position: relative;
}
.sec-first .background{
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 550px;
}
.sec-first nav{
    display: flex;
    justify-content: space-between;
}
nav .nav-left{
    margin-top: 20px;
    display: flex;
}
.nav-left .nav-logo img{
    width: 120px;
}
.nav-left .nav-links{
    margin-top: 17px;
}
.nav-left .nav-links a{
    margin-left: 30px;
    font-size: 17px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.724);
}
.nav-left .nav-links a:hover{
    color: rgb(125, 38, 183);
}
.nav-right img{
    width: 90px;
}
.nav-right{
    margin-top: 40px;
    margin-right: 40px;
    position: relative;
}
.nav-right a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.806);
    position: absolute;
    top: 3px;
    right: 27px;
}
.sec-first .text-images{
    display: flex;
}
.sec-first .text-deliver{
    padding-top: 100px;
    margin-left: 70px;
}
.sec-first .text-deliver h1{
    font-size: 45px;
    color: rgba(61, 59, 59, 0.763);
    font-weight: 600;
}
.sec-first .text-deliver h1 span{
    color: rgb(124, 30, 186);
}
.sec-first .text-deliver p{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.404);
    font-size: 20px;
    font-weight: 400;
}
.sec-first .three-images{
    position: relative;
}
.three-images .landing{
    width: 450px;
}
.three-images .man{
    width: 200px;
    position: absolute;
    top: 10px;
    left: 90px;
}
.three-images .cloud{
    width: 250px;
    position: absolute;
    top: 280px;
    left: 70px;
}
.text-images .waves{
    position: absolute;
    width: 80%;
    height: 130px;
    top: 410px;
}
/* end section first */
/* start section second */
.sec-second .three-divs{
    display: flex;
    justify-content: space-around;
}
.div-one{
    text-align: center;
    margin-left: 60px;
}
.div-one img{
    width: 150px;
}
.div-one h2{
    font-size: 19px;
    color: rgba(30, 29, 29, 0.728);
}
.div-one p{
    font-size: 14px;
    color: rgba(30, 29, 29, 0.728);
}
.div-two{
    margin-top: 300px;
    text-align: center;
    margin-left: 30px;
}
.div-two img{
    width: 150px;
}
.div-two h2{
    font-size: 19px;
    color: rgba(30, 29, 29, 0.728);
}
.div-two p{
    font-size: 14px;
    color: rgba(30, 29, 29, 0.728);
}
.div-three{
    margin-top: 480px;
    margin-right: 60px;
    text-align: center;
}
.div-three img{
    width: 150px;
}
.div-three h2{
    font-size: 19px;
    color: rgba(30, 29, 29, 0.728);
}
.div-three p{
    font-size: 14px;
    color: rgba(30, 29, 29, 0.728);
}
.sec-second{
    margin-top: 100px;
    position: relative;
}
.div-roud {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
}
.div-roud img{
    width: 700px;
    height: 540px;
    margin-left: 230px;
}
.sec-second .div-why img{
    width: 250px;
    position: absolute;
    top: 485px;
    left: 70px;
}
.sec-second .div-why h4{
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 60px;
    left: 120px;
}
.sec-second .div-why h1{
    font-size: 32px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
    left: 120px;
}
/* end section second */
/* start section three */
.sec-three .img-group{
    margin-top: 180px;
    display: flex;
    justify-content: center;
}
.img-group .img-center{
    width: 500px;
}
.img-group .img-one{
    width: 180px;
    margin-top: 140px;
    margin-right: 30px;
}
.img-group .img-end{
    width: 180px;
    margin-top: 150px;
    margin-left: 30px;
}
.sec-three .div-texts{
    text-align: center;
}
.div-texts h1{
    font-size: 21px;
    color: #999999;
}
.div-texts p{
    margin-top: 10px;
    font-size: 17px;
    color: #999999;
}
/* end section three */
footer{
    margin-top: 300px;
    position: relative;
}
footer .all-footer{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}
footer .foot-background{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -5;
}
.all-footer .divsfoot-left{
    margin-top: 150px;
}
.foot-one{
    display: flex;
    position: absolute;
    bottom: 230px;
    left: 200px;
}
.foot-one .but-one{
    position: absolute;
    top: 80px;
}
.but-one .but-login{
    width: 120px;
}
.but-one .apple{
    width: 27px;
    position: absolute;
    left: 3px;
}
.but-one .kodzoka-1{
    color: rgba(14, 14, 14, 0.824);
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    left: 30px;
}
.but-one .app-store{
    color: rgb(130, 63, 176);
    font-size: 17px;
    text-decoration: none;
    position: absolute;
    left: 30px;
    top: 12px;
}
.foot-one .but-two{
    margin-left: 30px;
    position:absolute;
    top: 80px;
    right: 5px;

}
.but-two .but-login2{
    width: 120px;
}
.but-two .play-store{
    width: 27px;
    position: absolute;
    left: 9px;
    top: 4px;
}
.but-two .kodzoka-2{
    color: rgba(14, 14, 14, 0.824);
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    left: 35px;
}
.but-two .play-tore{
    color: rgb(130, 63, 176);
    font-size: 17px;
    text-decoration: none;
    position: absolute;
    left: 37px;
    top: 12px;
}
.foot-two{
    position: absolute;
    bottom: 60px;
    left: 70px;
}
.foot-two .icon{
    width: 18px;
}
.foot-three a{
    font-size: 13px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.92);
}
.foot-three{
    position: absolute;
    bottom: 10px;
    left: 60px;
}
.foot-three a:hover{
    color: rgb(130, 63, 176);
}
.foot-right img{
    position: absolute;
    bottom: 0px;
    right: 90px;
    width: 420px;
    height: 280px;
}
@media screen  and (min-width: 300px) and (max-width: 576px) {
    /* start section first */
    .sec-first{
        position: relative;
    }
    .sec-first .background{
        z-index: -100;
        position: absolute;
        width: 100%;
        height: 500px;
    }
    .sec-first nav{
        display: flex;
        justify-content: space-between;
    }
    nav .nav-left{
        margin-top: 20px;
        margin-right: 40px;
        display: flex;
    }
    .nav-left .nav-logo img{
        width: 120px;
    }
    .nav-left .nav-links{
        margin-top: 17px;
    }
    .nav-left .nav-links a{
        margin-left: 30px;
        font-size: 15px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.724);
    }
    .nav-left .nav-links a:hover{
        color: rgb(125, 38, 183);
    }
    .nav-right img{
        width: 90px;
    }
    .nav-right{
        margin-top: 40px;
        margin-right: 40px;
        position: relative;
    }
    .nav-right a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.806);
        position: absolute;
        top: 3px;
        right: 27px;
    }
    .sec-first .text-images{
        display: flex;
    }
    .sec-first .text-deliver{
        padding-top: 100px;
        margin-left: 40px;
    }
    .sec-first .text-deliver h1{
        font-size: 30px;
        color: rgba(0, 0, 0, 0.763);
        font-weight: 600;
    }
    .sec-first .text-deliver h1 span{
        color: rgb(124, 30, 186);
    }
    .sec-first .text-deliver p{
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.763);
        font-size: 15px;
        font-weight: 400;
    }
    .sec-first .three-images{
        position: relative;
    }
    .three-images .landing{
        width: 300px;
    }
    .three-images .man{
        width: 150px;
        position: absolute;
        top: 10px;
        left: 50px;
    }
    .three-images .cloud{
        width: 180px;
        position: absolute;
        top: 220px;
        left: 60px;
    }
    .text-images .waves{
        position: absolute;
        width: 70%;
        height: 150px;
        top: 320px;
    }
    /* end section first */
    /* start section second */
    .sec-second .three-divs{
        display: flex;
        justify-content: space-around;
    }
    .div-one{
        margin-top: 150px;
        text-align: center;
        margin-left: 60px;
    }
    .div-one img{
        width: 120px;
    }
    .div-one h2{
        font-size: 15px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-one p{
        font-size: 10px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two{
        margin-top: 300px;
        text-align: center;
        margin-left: 30px;
    }
    .div-two img{
        width: 120px;
    }
    .div-two h2{
        font-size: 15px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two p{
        font-size: 10px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three{
        margin-top: 480px;
        margin-right: 60px;
        text-align: center;
    }
    .div-three img{
        width: 120px;
    }
    .div-three h2{
        font-size: 15px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three p{
        font-size: 10px;
        color: rgba(30, 29, 29, 0.728);
    }
    .sec-second{
        position: relative;
    }
    .div-roud {
        position: absolute;
        top: 120px;
        left: 0;
        z-index: -1;
    }
    .div-roud img{
        width: 370px;
        height: 400px;
        margin-left: 90px;
    }
    .sec-second .div-why img{
        width: 170px;
        position: absolute;
        top: 485px;
        left: 20px;
    }
    .sec-second .div-why h4{
        font-size: 15px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 100px;
        left: 50px;
    }
    .sec-second .div-why h1{
        font-size: 25px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
        left: 50px;
    }
    /* end section second */
    /* start section three */
    .sec-three .img-group{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .img-group .img-center{
        width: 450px;
        margin-top: 70px;
    }
    .img-group .img-one{
        width: 180px;
        margin: auto;
        margin-left: 30%;
    }
    .img-group .img-end{
        width: 180px;
        margin-left: 30%;
    }
    .sec-three .div-texts{
        text-align: center;
    }
    .div-texts h1{
        font-size: 25px;
        color: #999999;
        margin-top: 30px;
    }
    .div-texts p{
        margin-top: 10px;
        font-size: 15px;
        color: #999999;
    }
    /* end section three */
    footer{
        position: relative;
    }
    footer .all-footer{
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
    }
    footer .foot-background{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -5;
    }
    .all-footer .divsfoot-left{
        margin-top: 150px;
    }
    .foot-one{
        display: flex;
        position: absolute;
        bottom: 200px;
        left: 90px;
    }
    .foot-one .but-one{
        position: absolute;
        top: 100px;
    }
    .but-one .but-login{
        width: 70px;
    }
    .but-one .apple{
        width: 15px;
        position: absolute;
        left: 2px;
    }
    .but-one .kodzoka-1{
        color: rgba(14, 14, 14, 0.824);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 20px;
    }
    .but-one .app-store{
        color: rgb(130, 63, 176);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 20px;
        top: 8px;
    }
    .foot-one .but-two{
        margin-left: 30px;
        position:absolute;
        top: 100px;
        right: 5px;

    }
    .but-two .but-login2{
        width: 70px;
    }
    .but-two .play-store{
        width: 15px;
        position: absolute;
        left: 6px;
        top: 3px;
    }
    .but-two .kodzoka-2{
        color: rgba(14, 14, 14, 0.824);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 23px;
    }
    .but-two .play-tore{
        color: rgb(130, 63, 176);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 23px;
        top: 8px;
    }
    .foot-two{
        position: absolute;
        bottom: 27px;
        left: 10px;
    }
    .foot-two .icon{
        width: 10px;
    }
    .foot-two a{
        margin-left: 10px;
    }
    .foot-three a{
        font-size: 12px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
        margin-left: 10px;
    }
    .foot-three{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .foot-three a:hover{
        color: rgb(130, 63, 176);
    }
    .foot-right img{
        position: absolute;
        bottom: 0px;
        right: 40px;
        width: 150px;
        height: 150px;
    }
}
@media screen  and (min-width: 576px) and (max-width: 768px) {
    /* start section first */
    .sec-first{
        position: relative;
    }
    .sec-first .background{
        z-index: -100;
        position: absolute;
        width: 100%;
        height: 550px;
    }
    .sec-first nav{
        display: flex;
        justify-content: space-between;
    }
    nav .nav-left{
        margin-top: 20px;
        display: flex;
    }
    .nav-left .nav-logo img{
        width: 120px;
    }
    .nav-left .nav-links{
        margin-top: 17px;
    }
    .nav-left .nav-links a{
        margin-left: 30px;
        font-size: 13px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.724);
    }
    .nav-left .nav-links a:hover{
        color: rgb(125, 38, 183);
    }
    .nav-right img{
        width: 90px;
    }
    .nav-right{
        margin-top: 40px;
        margin-right: 20px;
        position: relative;
    }
    .nav-right a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.806);
        position: absolute;
        top: 3px;
        right: 27px;
    }
    .sec-first .text-images{
        display: flex;
    }
    .sec-first .text-deliver{
        padding-top: 100px;
        margin-left: 40px;
    }
    .sec-first .text-deliver h1{
        font-size: 35px;
        color: rgba(0, 0, 0, 0.763);
        font-weight: 600;
    }
    .sec-first .text-deliver h1 span{
        color: rgb(124, 30, 186);
    }
    .sec-first .text-deliver p{
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.763);
        font-size: 14px;
        font-weight: 400;
    }
    .sec-first .three-images{
        position: relative;
    }
    .three-images .landing{
        width: 300px;
    }
    .three-images .man{
        width: 150px;
        position: absolute;
        top: 10px;
        left: 50px;
    }
    .three-images .cloud{
        width: 180px;
        position: absolute;
        top: 220px;
        left: 58px;
    }
    .text-images .waves{
        position: absolute;
        width: 77%;
        height: 120px;
        top: 340px;
    }
    /* end section first */
    /* start section second */
    .sec-second .three-divs{
        display: flex;
        justify-content: space-around;
    }
    .div-one{
        text-align: center;
        margin-left: 60px;
    }
    .div-one img{
        width: 120px;
    }
    .div-one h2{
        font-size: 16px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-one p{
        font-size: 11px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two{
        margin-top: 300px;
        text-align: center;
        margin-left: 30px;
    }
    .div-two img{
        width: 120px;
    }
    .div-two h2{
        font-size: 16px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two p{
        font-size: 11px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three{
        margin-top: 480px;
        margin-right: 60px;
        text-align: center;
    }
    .div-three img{
        width: 120px;
    }
    .div-three h2{
        font-size: 16px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three p{
        font-size: 11px;
        color: rgba(30, 29, 29, 0.728);
    }
    .sec-second{
        margin-top: 200px;
        position: relative;
    }
    .div-roud {
        position: absolute;
        top: 30px;
        left: 0;
        z-index: -1;
    }
    .div-roud img{
        width: 430px;
        height: 480px;
        margin-left: 90px;
    }
    .sec-second .div-why img{
        width: 170px;
        position: absolute;
        top: 485px;
        left: 20px;
    }
    .sec-second .div-why h4{
        font-size: 15px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 90px;
        left: 50px;
    }
    .sec-second .div-why h1{
        font-size: 24px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
        left: 50px;
    }
    /* end section second */
    /* start section three */
    .sec-three .img-group{
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .img-group .img-center{
        width: 260px;
        margin-top: 70px;
    }
    .img-group .img-one{
        width: 100px;
        
    }
    .img-group .img-end{
        width: 100px;
        margin-right: 30px;
    }
    .sec-three .div-texts{
        text-align: center;
    }
    .div-texts h1{
        font-size: 20px;
        color: #999999;
    }
    .div-texts p{
        margin-top: 10px;
        font-size: 12px;
        color: #999999;
    }
    /* end section three */
    footer{
        margin-top: 300px;
        position: relative;
    }
    footer .all-footer{
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
    }
    footer .foot-background{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -5;
    }
    .all-footer .divsfoot-left{
        margin-top: 150px;
    }
    .foot-one{
        display: flex;
        position: absolute;
        bottom: 200px;
        left: 90px;
    }
    .foot-one .but-one{
        position: absolute;
        top: 100px;
    }
    .but-one .but-login{
        width: 70px;
    }
    .but-one .apple{
        width: 15px;
        position: absolute;
        left: 2px;
    }
    .but-one .kodzoka-1{
        color: rgba(14, 14, 14, 0.824);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 20px;
    }
    .but-one .app-store{
        color: rgb(130, 63, 176);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 20px;
        top: 8px;
    }
    .foot-one .but-two{
        margin-left: 30px;
        position:absolute;
        top: 100px;
        right: 5px;

    }
    .but-two .but-login2{
        width: 70px;
    }
    .but-two .play-store{
        width: 15px;
        position: absolute;
        left: 6px;
        top: 3px;
    }
    .but-two .kodzoka-2{
        color: rgba(14, 14, 14, 0.824);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 23px;
    }
    .but-two .play-tore{
        color: rgb(130, 63, 176);
        font-size: 8px;
        text-decoration: none;
        position: absolute;
        left: 23px;
        top: 8px;
    }
    .foot-two{
        position: absolute;
        bottom: 30px;
        left: 10px;
    }
    .foot-two .icon{
        width: 15px;
    }
    .foot-two a{
        margin-left: 10px;
    }
    .foot-three a{
        font-size: 12px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
        margin-left: 10px;
    }
    .foot-three{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .foot-three a:hover{
        color: rgb(130, 63, 176);
    }
    .foot-right img{
        position: absolute;
        bottom: 0px;
        right: 60px;
        width: 230px;
        height: 240px;
    }
}
@media screen  and (min-width: 768px) and (max-width: 992px) {
    /* start section first */
    .sec-first{
        position: relative;
    }
    .sec-first .background{
        z-index: -100;
        position: absolute;
        width: 100%;
        height: 500px;
    }
    .sec-first nav{
        display: flex;
        justify-content: space-between;
    }
    nav .nav-left{
        margin-top: 20px;
        display: flex;
    }
    .nav-left .nav-logo img{
        width: 120px;
    }
    .nav-left .nav-links{
        margin-top: 17px;
    }
    .nav-left .nav-links a{
        margin-left: 30px;
        font-size: 15px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.724);
    }
    .nav-left .nav-links a:hover{
        color: rgb(125, 38, 183);
    }
    .nav-right img{
        width: 90px;
    }
    .nav-right{
        margin-top: 40px;
        margin-right: 20px;
        position: relative;
    }
    .nav-right a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.806);
        position: absolute;
        top: 3px;
        right: 27px;
    }
    .sec-first .text-images{
        display: flex;
    }
    .sec-first .text-deliver{
        padding-top: 100px;
        margin-left: 40px;
    }
    .sec-first .text-deliver h1{
        font-size: 36px;
        color: rgba(0, 0, 0, 0.763);
        font-weight: 600;
    }
    .sec-first .text-deliver h1 span{
        color: rgb(124, 30, 186);
    }
    .sec-first .text-deliver p{
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.763);
        font-size: 15px;
        font-weight: 400;
    }
    .sec-first .three-images{
        position: relative;
    }
    .three-images .landing{
        width: 350px;
    }
    .three-images .man{
        width: 170px;
        position: absolute;
        top: 10px;
        left: 60px;
    }
    .three-images .cloud{
        width: 210px;
        position: absolute;
        top: 240px;
        left: 60px;
    }
    .text-images .waves{
        position: absolute;
        width: 79%;
        height: 120px;
        top: 340px;
    }
    /* end section first */
    /* start section second */
    .sec-second .three-divs{
        display: flex;
        justify-content: space-around;
    }
    .div-one{
        text-align: center;
        margin-left: 60px;
    }
    .div-one img{
        width: 130px;
    }
    .div-one h2{
        font-size: 17px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-one p{
        font-size: 13px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two{
        margin-top: 300px;
        text-align: center;
        margin-left: 30px;
    }
    .div-two img{
        width: 130px;
    }
    .div-two h2{
        font-size: 17px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two p{
        font-size: 13px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three{
        margin-top: 480px;
        margin-right: 60px;
        text-align: center;
    }
    .div-three img{
        width: 130px;
    }
    .div-three h2{
        font-size: 17px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three p{
        font-size: 13px;
        color: rgba(30, 29, 29, 0.728);
    }
    .sec-second{
        margin-top: 250px;
        position: relative;
    }
    .div-roud {
        position: absolute;
        top: 30px;
        left: 0;
        z-index: -1;
    }
    .div-roud img{
        width: 520px;
        height: 520px;
        margin-left: 180px;
    }
    .sec-second .div-why img{
        width: 170px;
        position: absolute;
        top: 485px;
        left: 20px;
    }
    .sec-second .div-why h4{
        font-size: 15px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 90px;
        left: 50px;
    }
    .sec-second .div-why h1{
        font-size: 24px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
        left: 50px;
    }
    /* end section second */
    /* start section three */
    .sec-three .img-group{
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .img-group .img-center{
        width: 300px;
        margin-top: 70px;
    }
    .img-group .img-one{
        width: 130px;
    }
    .img-group .img-end{
        width: 140px;
    }
    .sec-three .div-texts{
        text-align: center;
    }
    .div-texts h1{
        font-size: 20px;
        color: #999999;
    }
    .div-texts p{
        margin-top: 10px;
        font-size: 12px;
        color: #999999;
    }
    /* end section three */
    footer{
        margin-top: 300px;
        position: relative;
    }
    footer .all-footer{
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
    }
    footer .foot-background{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -5;
    }
    .all-footer .divsfoot-left{
        margin-top: 150px;
    }
    .foot-one{
        display: flex;
        position: absolute;
        bottom: 200px;
        left: 112px;
    }
    .foot-one .but-one{
        position: absolute;
        top: 80px;
    }
    .but-one .but-login{
        width: 90px;
    }
    .but-one .apple{
        width: 18px;
        position: absolute;
        left: 3px;
    }
    .but-one .kodzoka-1{
        color: rgba(14, 14, 14, 0.824);
        font-size: 11px;
        text-decoration: none;
        position: absolute;
        left: 25px;
    }
    .but-one .app-store{
        color: rgb(130, 63, 176);
        font-size: 10px;
        text-decoration: none;
        position: absolute;
        left: 25px;
        top: 12px;
    }
    .foot-one .but-two{
        margin-left: 30px;
        position:absolute;
        top: 80px;
        right: 5px;

    }
    .but-two .but-login2{
        width: 90px;
    }
    .but-two .play-store{
        width: 18px;
        position: absolute;
        left: 6px;
        top: 4px;
    }
    .but-two .kodzoka-2{
        color: rgba(14, 14, 14, 0.824);
        font-size: 11px;
        text-decoration: none;
        position: absolute;
        left: 25px;
    }
    .but-two .play-tore{
        color: rgb(130, 63, 176);
        font-size: 10px;
        text-decoration: none;
        position: absolute;
        left: 25px;
        top: 12px;
    }
    .foot-two{
        position: absolute;
        bottom: 32px;
        left: 10px;
    }
    .foot-two .icon{
        width: 17px;
    }
    .foot-two a{
        margin-left: 10px;
    }
    .foot-three a{
        font-size: 15px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
        margin-left: 10px;
    }
    .foot-three{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .foot-three a:hover{
        color: rgb(130, 63, 176);
    }
    .foot-right img{
        position: absolute;
        bottom: 0px;
        right: 90px;
        width: 250px;
        height: 270px;
    }
}
@media screen  and (min-width: 992px) and (max-width: 1200px) {
    /* start section first */
    .sec-first{
        position: relative;
    }
    .sec-first .background{
        z-index: -100;
        position: absolute;
        width: 100%;
        height: 550px;
    }
    .sec-first nav{
        display: flex;
        justify-content: space-between;
    }
    nav .nav-left{
        margin-top: 20px;
        display: flex;
    }
    .nav-left .nav-logo img{
        width: 120px;
    }
    .nav-left .nav-links{
        margin-top: 17px;
    }
    .nav-left .nav-links a{
        margin-left: 30px;
        font-size: 17px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.724);
    }
    .nav-left .nav-links a:hover{
        color: rgb(125, 38, 183);
    }
    .nav-right img{
        width: 90px;
    }
    .nav-right{
        margin-top: 40px;
        margin-right: 40px;
        position: relative;
    }
    .nav-right a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.806);
        position: absolute;
        top: 3px;
        right: 27px;
    }
    .sec-first .text-images{
        display: flex;
    }
    .sec-first .text-deliver{
        padding-top: 100px;
        margin-left: 70px;
    }
    .sec-first .text-deliver h1{
        font-size: 45px;
        color: rgba(61, 59, 59, 0.763);
        font-weight: 600;
    }
    .sec-first .text-deliver h1 span{
        color: rgb(124, 30, 186);
    }
    .sec-first .text-deliver p{
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.404);
        font-size: 20px;
        font-weight: 400;
    }
    .sec-first .three-images{
        position: relative;
    }
    .three-images .landing{
        width: 450px;
    }
    .three-images .man{
        width: 200px;
        position: absolute;
        top: 10px;
        left: 90px;
    }
    .three-images .cloud{
        width: 250px;
        position: absolute;
        top: 280px;
        left: 70px;
    }
    .text-images .waves{
        position: absolute;
        width: 80%;
        height: 130px;
        top: 410px;
    }
    /* end section first */
    /* start section second */
    .sec-second .three-divs{
        display: flex;
        justify-content: space-around;
    }
    .div-one{
        text-align: center;
        margin-left: 60px;
    }
    .div-one img{
        width: 150px;
    }
    .div-one h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-one p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two{
        margin-top: 300px;
        text-align: center;
        margin-left: 30px;
    }
    .div-two img{
        width: 150px;
    }
    .div-two h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three{
        margin-top: 480px;
        margin-right: 60px;
        text-align: center;
    }
    .div-three img{
        width: 150px;
    }
    .div-three h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .sec-second{
        margin-top: 100px;
        position: relative;
    }
    .div-roud {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: -1;
    }
    .div-roud img{
        width: 700px;
        height: 540px;
        margin-left: 230px;
    }
    .sec-second .div-why img{
        width: 250px;
        position: absolute;
        top: 485px;
        left: 70px;
    }
    .sec-second .div-why h4{
        font-size: 18px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
        left: 120px;
    }
    .sec-second .div-why h1{
        font-size: 32px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 20px;
        left: 120px;
    }
    /* end section second */
    /* start section three */
    .sec-three .img-group{
        margin-top: 180px;
        display: flex;
        justify-content: center;
    }
    .img-group .img-center{
        width: 500px;
    }
    .img-group .img-one{
        width: 180px;
        margin-top: 140px;
        margin-right: 30px;
    }
    .img-group .img-end{
        width: 180px;
        margin-top: 150px;
        margin-left: 30px;
    }
    .sec-three .div-texts{
        text-align: center;
    }
    .div-texts h1{
        font-size: 21px;
        color: #999999;
    }
    .div-texts p{
        margin-top: 10px;
        font-size: 17px;
        color: #999999;
    }
    /* end section three */
    footer{
        margin-top: 300px;
        position: relative;
    }
    footer .all-footer{
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
    }
    footer .foot-background{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -5;
    }
    .all-footer .divsfoot-left{
        margin-top: 150px;
    }
    .foot-one{
        display: flex;
        position: absolute;
        bottom: 230px;
        left: 200px;
    }
    .foot-one .but-one{
        position: absolute;
        top: 80px;
    }
    .but-one .but-login{
        width: 120px;
    }
    .but-one .apple{
        width: 27px;
        position: absolute;
        left: 3px;
    }
    .but-one .kodzoka-1{
        color: rgba(14, 14, 14, 0.824);
        font-size: 11px;
        text-decoration: none;
        position: absolute;
        left: 30px;
    }
    .but-one .app-store{
        color: rgb(130, 63, 176);
        font-size: 17px;
        text-decoration: none;
        position: absolute;
        left: 30px;
        top: 12px;
    }
    .foot-one .but-two{
        margin-left: 30px;
        position:absolute;
        top: 80px;
        right: 5px;

    }
    .but-two .but-login2{
        width: 120px;
    }
    .but-two .play-store{
        width: 27px;
        position: absolute;
        left: 9px;
        top: 4px;
    }
    .but-two .kodzoka-2{
        color: rgba(14, 14, 14, 0.824);
        font-size: 11px;
        text-decoration: none;
        position: absolute;
        left: 35px;
    }
    .but-two .play-tore{
        color: rgb(130, 63, 176);
        font-size: 17px;
        text-decoration: none;
        position: absolute;
        left: 37px;
        top: 12px;
    }
    .foot-two{
        position: absolute;
        bottom: 60px;
        left: 70px;
    }
    .foot-two .icon{
        width: 18px;
    }
    .foot-three a{
        font-size: 13px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
    }
    .foot-three{
        position: absolute;
        bottom: 10px;
        left: 60px;
    }
    .foot-three a:hover{
        color: rgb(130, 63, 176);
    }
    .foot-right img{
        position: absolute;
        bottom: 0px;
        right: 90px;
        width: 420px;
        height: 280px;
    }
}
@media screen  and (min-width: 1200px) and (max-width: 1400px) {
    /* start section first */
    .sec-first{
        position: relative;
    }
    .sec-first .background{
        z-index: -100;
        position: absolute;
        width: 100%;
        height: 550px;
    }
    .sec-first nav{
        display: flex;
        justify-content: space-between;
    }
    nav .nav-left{
        margin-top: 20px;
        display: flex;
        margin-left: 30px;
    }
    .nav-left .nav-logo img{
        width: 120px;
    }
    .nav-left .nav-links{
        margin-top: 17px;
    }
    .nav-left .nav-links a{
        margin-left: 30px;
        font-size: 17px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.724);
    }
    .nav-left .nav-links a:hover{
        color: rgb(125, 38, 183);
    }
    .nav-right img{
        width: 90px;
    }
    .nav-right{
        margin-top: 40px;
        margin-right: 40px;
        position: relative;
    }
    .nav-right a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.806);
        position: absolute;
        top: 3px;
        right: 27px;
    }
    .sec-first .text-images{
        display: flex;
    }
    .sec-first .text-deliver{
        padding-top: 100px;
        margin-left: 70px;
    }
    .sec-first .text-deliver h1{
        font-size: 45px;
        color: rgba(61, 59, 59, 0.763);
        font-weight: 600;
    }
    .sec-first .text-deliver h1 span{
        color: rgb(124, 30, 186);
    }
    .sec-first .text-deliver p{
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.404);
        font-size: 20px;
        font-weight: 400;
        margin-right: 30px;
    }
    .sec-first .three-images{
        position: relative;
    }
    .three-images .landing{
        width: 570px;
        height: 500px;
    }
    .three-images .man{
        width: 220px;
        position: absolute;
        top: 10px;
        left: 130px;
    }
    .three-images .cloud{
        width: 300px;
        position: absolute;
        top: 280px;
        left: 97px;
    }
    .text-images .waves{
        position: absolute;
        width: 82%;
        height: 200px;
        top: 390px;
    }
    /* end section first */
    /* start section second */
    .sec-second .three-divs{
        display: flex;
        justify-content: space-around;
    }
    .div-one{
        text-align: center;
        margin-left: 60px;
    }
    .div-one img{
        width: 150px;
    }
    .div-one h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-one p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two{
        margin-top: 240px;
        text-align: center;
        margin-left: 30px;
    }
    .div-two img{
        width: 150px;
    }
    .div-two h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-two p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three{
        margin-top: 450px;
        margin-right: 60px;
        text-align: center;
    }
    .div-three img{
        width: 150px;
    }
    .div-three h2{
        font-size: 19px;
        color: rgba(30, 29, 29, 0.728);
    }
    .div-three p{
        font-size: 14px;
        color: rgba(30, 29, 29, 0.728);
    }
    .sec-second{
        margin-top: 100px;
        position: relative;
    }
    .div-roud {
        position: absolute;
        top: 5px;
        left: 60px;
        z-index: -1;
    }
    .div-roud img{
        width: 790px;
        height: 490px;
    }
    .sec-second .div-why img{
        width: 300px;
        position: absolute;
        top: 430px;
        left: 80px;
    }
    .sec-second .div-why h4{
        font-size: 18px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
        left: 150px;
    }
    .sec-second .div-why h1{
        font-size: 34px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 20px;
        left: 150px;
    }
    /* end section second */
    /* start footer */
    .foot-three a{
        font-size: 13px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
        margin-left: 30px;
    }
    .foot-three{
        position: absolute;
        bottom: 10px;
        left: 40px;
    }
    .foot-right img{
        position: absolute;
        bottom: 0px;
        right: 130px;
        width: 500px;
        height: 350px;
    }
    /* end footer */
}